<h4><%= lesson.title %></h4>
<span class="user_info">
<%= link_to image_tag(lesson.user.avatar_url.to_s, alt: lesson.user.to_s, class: "avatar", size: "50x50"), lesson.user %>

<h5><%= lesson.user.to_s %></h5>
</span>
<span class="price">
  <%= number_to_currency(lesson.price) %> </br>
<h5>per hour</h5>
</span>