<footer class="footer">
  <small>
    Stephane Cedroni
  </small>
  <nav>
    <ul>
      <li><%= link_to "ABOUT",   about_path %></li>
      <li><%= link_to "HELP", contact_path %></li>
      <li><%= link_to "CONTACT", contact_path %></li>
    </ul>
  </nav>
</footer>